<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">HR Management</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/main/employees']">Employees</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/main/leaves']">Leaves</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/main/expenses']">Expenses</a>
    </div>
  </div>
</div>
